/** Fontes **/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;700&display=swap');

/** HTML **/

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(30 28 43);
    font-family: 'Roboto Mono', monospace;
    font-size: 82.5%;
    color: #6536a2;
    line-height: 1.6rem;
    height: 100vh;
    width: 100vw;
}

li {
    list-style: none;
}


/** Conteúdo **/

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 120px 1fr 0.2fr;
}

.col {
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
}


/** Sidebar Color Range**/

#sidebar {
    background-color: rgba(0, 0, 0, 0.5);
}

#outside-bar {
    background-color: rgba(0, 0, 0, 0.3);
}


/** Sidebar Grid **/

.sidebar {
    display: grid;
    grid-template-rows: 120px 1fr 120px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-gap: 10px;
    height: 100vh;
}

#menu-icons>li {
    font-size: 1.7rem;
    margin-bottom: 2.4rem;
}

#menu-icons>li:hover {
    opacity: 0.5;
    cursor: pointer;
}


/** Logo **/

.app-logo {
    margin-top: 15px;
    text-align: center;
    font-size: 1.1rem;
}

.app-logo>img {
    max-width: 48px;
    max-height: 52px;
}

.app-logo-name {
    font-weight: bolder;
    margin-top: 7px;
}


/** Main Pages **/

.main-header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 15px;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
}

.action-btn-group>button {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    background-color: #281d3c;
    color: #6536a2;
    padding: 15px;
    border: solid 1px black;
    border-radius: 4px;
    outline: none;
    margin: 2px;
    font-weight: bolder;
    float: right;
}