input[type=text],
input[type=password] {
    background-color: transparent;
    outline: none;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    border: none;
    border-bottom: solid 1px #392454;
    padding: 15px;
    padding-left: 0;
    color: #6536a2;
    width: 90%;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #6536a2;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #6536a2;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #6536a2;
}

.login-form>form>input[type=text],
.login-form>form>input[type=password] {
    margin-bottom: 30px;
}

.login-form>form>button {
    font-family: 'Roboto Mono', monospace;
    margin-top: 40px;
    margin-bottom: 20px;
    border: none;
    background: #6536a2;
    padding: 15px;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
}