<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warriorgate - Login </title>
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>

<body>
    <div class="login-wrapper">
        <div class="login">
            <div class="login-logo"><img id="logo-img" src="../../assets/img/logo.svg" alt=""></div>
            <div class="login-title">warriorgate / login</div>
            <div class="login-form">
                <label for="username">username</label>
                <input type="text">
                <label for="passcode">passcode</label>
                <input type="text">
                <p></p>
                <button class="action primary" type="submit">entrar</button>
            </div>
        </div>
    </div>
</body>

</html>