/** Forms **/

label {
    font-size: .8rem;
}

input[type="text"],
input[type="password"] {
    width: 99%;
    background-color: var(--lighter-color);
    height: 50px;
    margin-bottom: 30px;
    font-family: "Roboto Mono", "Open Sans", sans-serif;
    color: var(--dark-color);
    font-size: 1rem;
    border: solid 1px var(--overshadow-color);
    outline: none;
    border-radius: 4px;
}

input[type="text"]:focus {
    box-shadow: 7px 8px 0px -3px rgb(0 0 0 / 3%) inset;
}

button {
    padding: 10px;
    font-family: 'Roboto Mono', 'Open Sans', sans-serif;
    color: var(--lighter-color);
    background-color: var(--primary-color);
    border: solid 1px rgb(0 0 0 / 15%);
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
    box-shadow: 7px 8px 0px -3px rgb(0 0 0 / 12%);
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.5;
}