/**
WarriorGate - Dashboard 
Marcos Coelho
2021
*/


/** Imports => UI **/

@import url('../css/app-ui.css');

/** Imports => Fonts **/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/** Root **/

:root {
    --primary-color: #2b3361;
    --secondary-color: #565d75;
    --light-color: #e7e9f7;
    --lighter-color: #f8f9ff;
    --shadow-color: #f0f2ff;
    --overshadow-color: #c3c8e3;
    --dark-color: #1e2233;
    --darkest-color: #121420;
    --text-primary-color: rgb(236, 236, 236);
    --info-color: #6e7cc0;
    --alert-color: #ebba60;
    --danger-color: #dd462b;
    --success-color: #4dd175;
}

.success {
    background-color: var(--secondary-color);
}


/** Main **/

html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}

body {
    background: var(--light-color);
    color: var(--dark-color);
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.2em;
    line-height: 1.4rem;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.container {
    display: grid;
}


/** Login Page **/

.login-wrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    background-color: var(--light-color);
}

.login {
    display: grid;
    grid-template-rows: .4fr .5fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80vh;
    max-width: 480px;
    min-height: 480px;
    max-height: 680px;
    background-color: var(--lighter-color);
    box-shadow: 0px 40px 5px -25px rgb(0 0 0 / 10%);
    padding: 30px;
    border-radius: 4px;
}

.login-logo {
    display: flex;
    justify-content: center;
    justify-items: center;
}

#logo-img {
    max-width: 100px;
    margin-bottom: 15px;
}

.login-title {
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    color: var(--primary-color);
    letter-spacing: -.1rem;
    padding: 15px;
}

.login-form {
    display: subgrid;
    align-content: center;
}


/** Main Dashboard **/

.app-wrapper {
    display: grid;
    grid-template-columns: 100px auto 240px;
    height: 100vh;
    width: 100vw;
}


/** Sidebar & Nav Menu **/

.sidebar {
    display: grid;
    grid-template-rows: 100px 1fr;
    justify-content: center;
    background-color: var(--lighter-color);
    color: var(--lighter-color);
    font-size: .8rem;
}

.sidebar .logo {
    display: flex;
    max-width: 50px;
}

.menu-icons {
    display: grid;
    justify-content: center;
    align-content: center;
}

.sidebar li {
    padding: 15px;
    color: var(--primary-color);
    font-size: 1.9rem;
    line-height: 2rem;
}

.sidebar li:hover {
    opacity: 0.5;
    cursor: pointer;
}


/** Menu Order **/

#new-project {
    order: 1;
}

#files {
    order: 2;
}

#mail {
    order: 2;
}

#settings {
    order: 5;
}

#profile {
    order: 4;
}

#logout {
    order: 6;
}


/** Content **/

.content {
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}


/** Hidden Components **/

.hc-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 800px;
}


/** UI Dashbaord **/


/** Main Card **/

.card {
    font-size: .9rem;
    border-radius: 4px;
    background-color: var(--lighter-color);
    display: grid;
}

.card-header {
    padding: 30px;
}

.card-body {
    padding: 30px;
}

.card-footer {
    padding: 30px;
    background-color: var(--shadow-color);
}


/** Profile Card **/

.profile-card {
    max-width: 410px;
    display: grid;
}

.card-header li#avatar {
    height: 80px;
    width: 80px;
    border: solid 7px var(--lighter-color);
    background-color: var(--light-color);
    border-radius: 100%;
    margin-top: -60px;
}

li#card-title {
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: lowercase;
    padding-top: 15px;
}


/** Quickview **/

.quickview {
    background-color: var(--lighter-color);
    padding: 15px;
}